.nav {
    grid-area: n;
    background-color: rgb(0, 0, 0);
    color: aliceblue;

    padding-left: 20px;
    padding-bottom: 20px;
}

.item {
    color: white;
}

.item a{
    text-decoration: none;
    color: white;
}

.item a.activeLink {
    color: gold;
}